<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- STYLES IMPORTS -->
<th:block th:replace="fragments/head :: head"></th:block>

<body class="hold-transition skin-green sidebar-mini ">

	<div class="wrapper">

		<!-- HEADER -->
		<th:block th:replace="fragments/header :: header"></th:block>
		<!-- ASIDE MENU -->
		<th:block th:replace="fragments/aside :: aside"></th:block>

		<!-- =============================================== -->

		<!-- CONTENIDO PRINCIPAL DE LA PAGINA -->
		<div class="content-wrapper">

			<section class="content-header">
				<h1>
					Paginas <small>lista de paginas</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Pagina</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="row">
					<div class="col-md-4">
						<div class="box box-success">
							<div class="register-box-body">
							
								<div th:if="${message != null}" th:text="${message}"
						            style="color:red;margin:10px 0px;">
						        </div>
							
								<form action="#" 
								      method="post" 
								      th:action="@{/pagina-lista}"
									  id="formulario"								
									  th:object="${pagina}" 
									  class="form-horizontal" 
									  role="form">

									<div style="color: red" class="requerido">
										<label id="label"></label>
									</div>
									
									<div class="form-group has-feedback">
										<label>Identificador</label> 
										<input 
											type="text" 
											value="" 
											class="form-control"
											id="idpagina" 
											placeholder="Identificador"
											readonly
											th:field="*{idPagina}"
											>
									</div>

									<div class="form-group has-feedback">
										<label>Pagina</label> 
										<input 
											type="text" 
											class="form-control" 
											id="descripcion"
											placeholder="Nombre de la pagina"
											th:field="*{descripcion}"
											disabled required>
									</div>


									<div class="form-group has-feedback">
										<label>URL (href)</label> 
										<input 
											type="text" 
											class="form-control" 
											id="url"
											placeholder="Url"
											th:field="*{url}"
											disabled required>
									</div>
									
									<div class="row">
										<div class="col-xs-4">
											<button type="button" class="btn btn-success btn-block btn-flat" id="btnNuevo" onclick="nuevo()">Nuevo</button>
										</div>
										<div class="col-xs-4">
											<button type="submit" class="btn btn-success btn-block btn-flat" id="btnGrabar" disabled>Grabar</button>
										</div>
										<div class="col-xs-4">
											<button type="button" class="btn btn-success btn-block btn-flat" id="btnCancelar" onclick="cancelar(this.form)">Cancelar</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="box box-success">
							<div class="box-header"></div>
							<!-- /.box-header -->
							<div class="box-body" id="divTabla">
								<div class="table-responsive">

									<div id="tablaProgramas_wrapper"
										class="dataTables_wrapper form-inline dt-bootstrap no-footer">

										<div class="row">

											<div class="col-sm-6">
												<div class="dataTables_length" id="tablaProgramas_length">
													<label>Mostrar <select name="tablaProgramas_length"
														aria-controls="tablaProgramas" class="form-control input-sm">
															<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
																th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>
													</select> registros
													</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div id="tablaProgramas_filter" class="dataTables_filter">
													<label>Buscar:<input type="search" class="form-control input-sm"
														placeholder="su texto aqui" aria-controls="tablaProgramas"></label>
												</div>
											</div>

										</div>

										<div class="row">

											<div class="col-sm-12">

												<table id="tablaProgramas" class="table table-bordered table-hover ">
													<thead>
														<tr>
															<th>Descripcion</th>
															<th>URL (href)</th>
															<th>ID</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="person : ${persons}" class="selected">
															<td th:text="${person.descripcion}"></td>
															<td th:text="${person.url}"></td>
															<td th:text="${person.idPagina}"></td>
														</tr>
													</tbody>
												</table>

											</div>

										</div>

										<div class="row">

											<div class="col-sm-5">
												<div class="dataTables_info" id="tablaProgramas_info" role="status" aria-live="polite">
													Página <span th:text="${persons.Number + 1}"></span> de <span
														th:text="${persons.TotalPages}"></span> de un total de <span
														th:text="${persons.TotalElements}"></span> registros
												</div>
											</div>

											<div th:if="${persons.totalPages != 1}" class="col-sm-7">

												<div class="dataTables_paginate paging_simple_numbers" id="tablaProgramas_paginate">

													<ul class="pagination">
														<li th:class="${persons.number == 0} ? disabled"><a class="pageLink"
															th:href="@{/pagina-lista(pageSize=${selectedPageSize}, page=1)}">&laquo;</a></li>
														<li th:class="${persons.number == 0} ? disabled"><a class="pageLink"
															th:href="@{/pagina-lista(pageSize=${selectedPageSize}, page=${persons.number})}">&larr;</a></li>
														<li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
															th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}"><a
															class="pageLink"
															th:href="@{/pagina-lista(pageSize=${selectedPageSize}, page=${page})}"
															th:text="${page}"></a></li>
														<li th:class="${persons.number + 1 == persons.totalPages} ? disabled"><a
															class="pageLink"
															th:href="@{/pagina-lista(pageSize=${selectedPageSize}, page=${persons.number + 2})}">&rarr;</a>
														</li>
														<li th:class="${persons.number + 1 == persons.totalPages} ? disabled"><a
															class="pageLink"
															th:href="@{/pagina-lista(pageSize=${selectedPageSize}, page=${persons.totalPages})}">&raquo;</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- ======================================================== -->
		<!-- FOOTER -->
		<th:block th:replace="fragments/footer :: footer"></th:block>
		<!-- ======================================================== -->

	</div>

	<!-- SCRIPTS -->
	<th:block th:replace="fragments/scripts :: scripts"></th:block>
	<script src="../../js/seguridad/pagina-lista.js"></script>

</body>

</html>