<!-- BASE HTML -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- STYLES IMPORTS -->
<th:block th:replace="fragments/head :: head"></th:block>

  <style>
  	#tablaProgramas td:nth-child(n+6){
	display: none;}
  </style>

<body class="hold-transition skin-green sidebar-mini ">

	<div class="wrapper">

		<!-- HEADER -->
		<th:block th:replace="fragments/header :: header"></th:block>
		<!-- ASIDE MENU -->
		<th:block th:replace="fragments/aside :: aside"></th:block>

		<!-- =============================================== -->

		<!-- CONTENIDO PRINCIPAL DE LA PAGINA -->
		<div class="content-wrapper">

			<section class="content-header">
				<h1>
					Usuarios <small>lista de usuarios</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Usuario</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="row">
					<div class="col-md-4">
						<div class="box box-success">
							<div class="register-box-body">
							
								<div th:if="${message != null}" th:text="${message}"
						            style="color:red;margin:10px 0px;">
						        </div>
							
								<form action="#" 
								      method="POST" 
								      th:action="@{/usuario-lista}"
									  id="formulario"
									  th:object="${usuario}"
									  class="form-horizontal"
									  role="form">
									  
									<div style="color: red" class="requerido">
										<label id="label"></label>
									</div>
									
									<div class="form-group has-feedback">
										<label>Identificador</label> 
										<input 
											type="text" 
											value="" 
											class="form-control"
											id="idusuario" 
											placeholder="Identificador"
											readonly
											th:field="*{idUsuario}"
											>
									</div>

									<div class="form-group has-feedback">
										<label>Usuario</label> 
										<input 
											type="text" 
											class="form-control" 
											id="usuario"
											placeholder="Nombre de usuario"
											th:field="*{login}"
											disabled required>
									</div>

									<div class="form-group has-feedback">
										<label>Estado</label> 
										<select class="form-control" 
										        id="estado"
										        th:field="*{activo}"
										        disabled>
											<option value="" selected disabled>Estado</option>
											<option value="true">Activo</option>
											<option value="false">Inactivo</option>
										</select>
									</div>
									
									<div class="form-group has-feedback">
										<label>Persona</label>
																			
										<select 
												class="form-control select2"
											    style="width: 100%;"
												id="selectPersona" 
												th:disabled="disabled"
												th:object="${usuario}"  
												th:field="${usuario.persona.idPersona}" >
											<option th:each="dropDownItem : ${listpersonasAll}"
											    th:value="${dropDownItem.getIdPersona()}"
											    th:text="${dropDownItem.getFullName()}" />
										
										</select> 
										
									</div>
									
									<div class="form-group has-feedback">
										<label>Sucursal</label>
										
										<select class="form-control select2"
											    style="width: 100%;"
											    th:disabled="disabled"
												id="selectSucursal" 
												th:object="${usuario}"  
												th:field="${usuario.sucursal.idSucursal}">
											
											<th:block th:each="listValue : ${listsucursalesAll}">
												<option th:class="${listValue.idSucursal}" 
												        th:value="${listValue.idSucursal}">
													<th:block th:text="${listValue.descripcion}"></th:block>
												</option>
											</th:block>
										</select>
										
									</div>

									<div class="row">
										<div class="col-xs-4">
											<button type="button" class="btn btn-success btn-block btn-flat" id="btnNuevo" onclick="nuevo()">Nuevo</button>
										</div>
										<div class="col-xs-4">
											<button type="submit" class="btn btn-success btn-block btn-flat" id="btnGrabar" disabled>Grabar</button>
										</div>
										<div class="col-xs-4">
											<button type="button" class="btn btn-success btn-block btn-flat" id="btnCancelar" onclick="cancelar(this.form)">Cancelar</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="box box-success">
							<div class="box-header"></div>
							<!-- /.box-header -->
							<div class="box-body" id="divTabla">
								<div class="table-responsive">

									<div id="tablaProgramas_wrapper"
										class="dataTables_wrapper form-inline dt-bootstrap no-footer">

										<div class="row">

											<div class="col-sm-6">
												<div class="dataTables_length" id="tablaProgramas_length">
													<label>Mostrar <select name="tablaProgramas_length"
														aria-controls="tablaProgramas" class="form-control input-sm">
															<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
																th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>
													</select> registros
													</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div id="tablaProgramas_filter" class="dataTables_filter">
													<label>Buscar:<input type="search" class="form-control input-sm"
														placeholder="su texto aqui" aria-controls="tablaProgramas"></label>
												</div>
											</div>

										</div>

										<div class="row">

											<div class="col-sm-12">

												<table id="tablaProgramas" class="table table-bordered table-hover ">
													<thead>
														<tr>
														    <th>Login</th>
														    <th>Persona</th>
															<th>Sucursal</th>
															<th>Estado</th>
															<th>ID</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="person : ${persons}" class="selected">
															<td th:text="${person.login}"></td>
															<td th:text="${person.persona.fullName}"></td>
															<td th:text="${person.sucursal.descripcion}"></td>
															<td th:switch="${person.activo}"><span th:case="true" th:text="ACTIVO"></span> <span
																th:case="false" th:text="INACTIVO"></span></td>
															<td th:text="${person.idUsuario}"></td>
															<td th:text="${person.persona.idPersona}"></td>
															<td th:text="${person.sucursal.idSucursal}"></td>
														</tr>

													</tbody>
												</table>

											</div>

										</div>

										<div class="row">

											<div class="col-sm-5">
												<div class="dataTables_info" id="tablaProgramas_info" role="status" aria-live="polite">
													Página <span th:text="${persons.Number + 1}"></span> de <span
														th:text="${persons.TotalPages}"></span> de un total de <span
														th:text="${persons.TotalElements}"></span> registros
												</div>
											</div>

											<div th:if="${persons.totalPages != 1}" class="col-sm-7">

												<div class="dataTables_paginate paging_simple_numbers" id="tablaProgramas_paginate">

													<ul class="pagination">
														<li th:class="${persons.number == 0} ? disabled"><a class="pageLink"
															th:href="@{/usuario-lista(pageSize=${selectedPageSize}, page=1)}">&laquo;</a></li>
														<li th:class="${persons.number == 0} ? disabled"><a class="pageLink"
															th:href="@{/usuario-lista(pageSize=${selectedPageSize}, page=${persons.number})}">&larr;</a></li>
														<li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
															th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}"><a
															class="pageLink"
															th:href="@{/usuario-lista(pageSize=${selectedPageSize}, page=${page})}"
															th:text="${page}"></a></li>
														<li th:class="${persons.number + 1 == persons.totalPages} ? disabled"><a
															class="pageLink"
															th:href="@{/usuario-lista(pageSize=${selectedPageSize}, page=${persons.number + 2})}">&rarr;</a>
														</li>
														<li th:class="${persons.number + 1 == persons.totalPages} ? disabled"><a
															class="pageLink"
															th:href="@{/usuario-lista(pageSize=${selectedPageSize}, page=${persons.totalPages})}">&raquo;</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- =============================================== -->
		<!-- FOOTER -->
		<th:block th:replace="fragments/footer :: footer"></th:block>
		<!-- =============================================== -->

	</div>

	<!-- SCRIPTS -->
	<th:block th:replace="fragments/scripts :: scripts"></th:block>
    <script src="../../js/seguridad/usuario-lista.js"></script>
	

</body>

</html>