<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- STYLES IMPORTS -->
<th:block th:replace="fragments/head :: head"></th:block>

<!-- //TODO:Oculta dos columnas de la tabla --> 
<style>
  	#tablaCliente td:nth-child(n+6){
	display: none;}
</style>

<body class="hold-transition skin-green sidebar-mini ">

	<div class="wrapper">

		<!-- HEADER -->
		<th:block th:replace="fragments/header :: header"></th:block>
		<!-- ASIDE MENU -->
		<th:block th:replace="fragments/aside :: aside"></th:block>

		<!-- =============================================== -->

		<!-- CONTENIDO PRINCIPAL DE LA PAGINA -->
		<div class="content-wrapper">

			<section class="content-header">
				<h1>
					Personas <small>lista de personas</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Personas</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="row">
					<div class="col-md-4">
						<div class="box box-success">
							<div class="register-box-body">
							
								<div th:if="${message != null}" th:text="${message}"
						            style="color:red;margin:10px 0px;">
						        </div>
							
								  <form action="#" 
								      method="POST" 
								      th:action="@{/persona-lista}"
									  id="formulario"
									  th:object="${persona}"
									  class="form-horizontal"
									  role="form">
									  
									<div style="color: red" class="requerido">
										<label id="label"></label>
									</div>
									
									<div class="form-group has-feedback">
										<label>Identificador</label> 
										<input 
											type="text" 
											value="" 
											class="form-control"
											id="idPersona" 
											placeholder="Identificador"
											readonly
											th:field="*{idPersona}"
											>
									</div>
								
									
									<div class="form-group has-feedback ">
										<label>Documento</label> 
										<input 
											type="text" 
											value="" 
											class="form-control editable"
											id="documento" 
											placeholder="Identificador"
											disabled
											th:field="*{documento}"
											>
									</div>
									

									<div class="form-group has-feedback">
										<label>Tipo Documento</label> 
										<select class="form-control editable" 
										        id="tipoDoc"
										        th:object="${tipoDocumento}" 
										        th:field="${persona.tipoDocumento.idTipoDocumento}"
										        disabled
										        >
											<option th:each="dropDownItem : ${tiposDoc}"
											    th:value="${dropDownItem.getIdTipoDocumento()}"
											    th:text="${dropDownItem.getDescripcion()}" />
										</select>
									</div>
									
									
									
									
									<div class="form-group has-feedback">
										<label>Nombres</label> 
										<input 
											type="text" 
											class="form-control editable" 
											id="nombres"
											placeholder="Nombres del Cliente"
											th:field="*{nombres}"
											disabled required>
									</div>
									
									<div class="form-group has-feedback">
										<label>Apellidos</label> 
										<input 
											type="text" 
											class="form-control editable" 
											id="apellidos"
											placeholder="Apellidos del Cliente"
											th:field="*{apellidos}"
											disabled required>
									</div>
									<div class="form-group has-feedback">
										<label>Sexo</label> 
										<select class="form-control editable " 
												id="sexo"
										        th:field="*{genero}"
										        disabled
										        >
											<option value="" selected >Seleccione</option>
											<option value="M">MASCULINO</option>
											<option value="F">FEMENINO</option>
										</select>
									</div>
									
									<div class="form-group has-feedback">
										<label>Estado Civil</label> 
										<select class="form-control editable " 
												id="estadoCivil"
												th:field="${persona.estadoCivil.idEstadoCivil}"
										        disabled
										        >
										    <option value="" selected >Seleccione</option>
											<option value="1">SOLTERO</option>
											<option value="2">CASADO</option>
											<option value="3">VIUDO</option>
											<option value="4">DIVORCIADO</option>
											<option value="5">SEPARADO</option>
											<option value="6">COCUBINADO</option>
										</select>
									</div>
									
									<div class="form-group has-feedback">
										<label>Correo</label> 
										<input 
											type="text" 
											class="form-control editable" 
											id="correo"
											placeholder="ejemplo@gmail.com"
											th:field="*{correo}"
											disabled >
									</div>
									
									<div class="form-group has-feedback">
										<label>Fecha Nacimiento</label> 
										<input 
											type="date" 
											class="form-control editable" 
											id="fechaNacimiento"
											placeholder="dd/mm/aaaa"
											th:field="*{fechaNacimiento}"
											disabled >
									</div>
									
									<div class="form-group has-feedback">
										<label>Telefono</label> 
										<input 
											type="text" 
											class="form-control editable" 
											id="telefono"
											placeholder="xx xxx xxx"
											th:field="*{telefono}"
											disabled >
									</div>
									
									<div class="form-group has-feedback">
										<label>Direccion</label> 
										<input 
											type="text" 
											class="form-control editable" 
											id="direccion"
											placeholder="Ingrese la direccion"
											th:field="*{direccion}"
											disabled >
									</div>
									
									 <div class="form-group has-feedback">
										<label>Tipo Persona</label> 
										<select class="form-control editable" 
										        id="tipoPersona"
										        th:field="${persona.tipoPersona.idTipoPersona}"
										        disabled
										        >
											<option th:each="dropDownItem : ${tiposPersonas}"
											    th:value="${dropDownItem.getIdTipoPersona()}"
											    th:text="${dropDownItem.getDescripcion()}" />
										</select>
									</div>
									
									 <div class="form-group has-feedback">
										<label>Pais</label> 
										<select class="form-control editable" 
												id="idPais"
										        th:field="${persona.pais.idPais}"
										        disabled
										        >
											<option value="" selected >Seleccione</option>
											<option value="1">Paraguay</option>
										</select>
									</div>
									<div class="form-group has-feedback hidden">
										<label>Pais</label> 
										<select class="form-control editable " 
												id="idPais2"
										        th:field="${persona.paisNacionalidad.idPais}"
										        disabled
										        >
											<option value="" selected >Seleccione</option>
											<option value="1">Paraguay</option>
										</select>
									</div>
									
									<div class="form-group has-feedback">
										<label>Estado</label> 
										<select class="form-control editable" 
										        id="estado"
										        th:field="*{estado}"
										        th:placeholder="Hola"
										        disabled>
											 <option value="true" selected disabled>Estado</option> 
											<option value="true">Activo</option>
											<option value="false">Inactivo</option>
										</select>
									</div> 
									
									<div class="row">
										<div class="col-xs-4">
											<button type="button" class="btn btn-success btn-block btn-flat" id="btnNuevo" onclick="nuevo()">Nuevo</button>
										</div>
										<div class="col-xs-4">
											<button type="submit" class="btn btn-success btn-block btn-flat" id="btnGrabar" disabled>Grabar</button>
										</div>
										<div class="col-xs-4">
											<button type="button" class="btn btn-success btn-block btn-flat" id="btnCancelar" onclick="cancelar(this.form)">Cancelar</button>
										</div>
									</div> 
								</form>  
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="box box-success">
							<div class="box-header"></div>
							<!-- /.box-header -->
							<div class="box-body" id="divTabla">
								<div class="table-responsive">

									<div id="tablaMenu_wrapper"
										class="dataTables_wrapper form-inline dt-bootstrap no-footer">

										<div class="row">

											<div class="col-sm-6">
												<div class="dataTables_length" id="tablaCliente_length">
													<label>Mostrar <select name="tablaCliente_length"
														aria-controls="tablaCliente" class="form-control input-sm">
															<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
																th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>
													</select> registros
													</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div id="tablaCliente_filter" class="dataTables_filter">
													<label>Buscar:<input type="search" class="form-control input-sm"
														placeholder="su texto aqui" aria-controls="tablaCliente"></label>
												</div>
											</div>

										</div>

										<div class="row">

											<div class="col-sm-12">

												<table id="tablaCliente" class="table table-bordered table-hover ">
													<thead>
														<tr>
														    <th>Documento</th>
														    <th>Nombres</th>
															<th>Apellidos</th>
															<th>Tipo Documento</th>
															<th>Estado</th>
															<td>ID Persona</tD>
															<td>ID Tipo Doc</td>
															<td>ID Tipo Per</td>
															<td>ID Pais</td>
															<td>ID Nacionalidad</td>
															<td>Sexo</td>
															<td>ID Estado civil</td>
															<td>correo</td>
															<td>telefono</td>
															<td>direccion</td>
															<td>fecha nacimiento</td>
														</tr>
													</thead>
													<tbody>
														<tr th:each="persona : ${personas}" class="selected">
															<td th:text="${persona.documento}"></td>
															<td th:text="${persona.nombres}"></td>
															<td th:text="${persona.apellidos}"></td>
															<td th:text="${persona.tipoDocumento.descripcion}"></td>
															<td th:switch="${persona.estado}"><span th:case="true" th:text="ACTIVO"></span> <span
																th:case="false" th:text="INACTIVO"></span></td>
															<td th:text="${persona.idPersona}"></td>
															<td th:text="${persona.tipoDocumento.idTipoDocumento}"></td> 
															<td th:text="${persona.tipoPersona.idTipoPersona}"></td>
															<td th:text="${persona.pais.idPais}"></td>
															<td th:text="${persona.paisNacionalidad.idPais}"></td>
															<td th:text="${persona.genero}"></td>
															<td th:text="${persona.estadoCivil} ? ${persona.estadoCivil.idEstadoCivil} : null"></td>
															<td th:text="${persona.correo}"></td>
															<td th:text="${persona.telefono}"></td>
															<td th:text="${persona.direccion}"></td>
															<td th:text="${persona.fechaNacimiento}"></td>
														</tr>

													</tbody>
												</table>

											</div>

										</div>

										<div class="row">

											<div class="col-sm-5">
												<div class="dataTables_info" id="tablaCliente_info" role="status" aria-live="polite">
													Página <span th:text="${personas.Number + 1}"></span> de <span
														th:text="${personas.TotalPages}"></span> de un total de <span
														th:text="${personas.TotalElements}"></span> registros
												</div>
											</div>

											<div th:if="${personas.totalPages != 1}" class="col-sm-7">

												<div class="dataTables_paginate paging_simple_numbers" id="tablaCliente_paginate">

													<ul class="pagination">
														<li th:class="${personas.number == 0} ? disabled"><a class="pageLink"
															th:href="@{/persona-lista(pageSize=${selectedPageSize}, page=1)}">&laquo;</a></li>
														<li th:class="${personas.number == 0} ? disabled"><a class="pageLink"
															th:href="@{/persona-lista(pageSize=${selectedPageSize}, page=${clentes.number})}">&larr;</a></li>
														<li th:class="${personas.number == (page - 1)} ? 'active pointer-disabled'"
															th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}"><a
															class="pageLink"
															th:href="@{/persona-lista(pageSize=${selectedPageSize}, page=${page})}"
															th:text="${page}"></a></li>
														<li th:class="${personas.number + 1 == clentes.totalPages} ? disabled"><a
															class="pageLink"
															th:href="@{/persona-lista(pageSize=${selectedPageSize}, page=${clentes.number + 2})}">&rarr;</a>
														</li>
														<li th:class="${personas.number + 1 == clentes.totalPages} ? disabled"><a
															class="pageLink"
															th:href="@{/persona-lista(pageSize=${selectedPageSize}, page=${clentes.totalPages})}">&raquo;</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- =============================================== -->
		<!-- FOOTER -->
		<th:block th:replace="fragments/footer :: footer"></th:block>
		<!-- =============================================== -->

	</div>

	<!-- SCRIPTS -->
	<th:block th:replace="fragments/scripts :: scripts"></th:block>
	<script src="../../plugins/select2/select2.full.min.js"></script>

	<script>
		$(document).ready(function() {
			$(".select2").select2();
			$('#idPais').change(function(){
				  var data= $(this).val();
				  
				  $('#idPais2').val(data).trigger('change.select2');
				  
				});
				
			$('#tablaCliente tr').click(function(e) {
				insertForm(this);
				
				$('#tablaCliente tr').removeClass('highlighted');
				$(this).toggleClass('highlighted');
			});
		});
		

		

		// se inserta los valores
		function insertForm(fila) {

			$("#idPersona").val(fila.cells[5].innerHTML);
			$("#documento").val(fila.cells[0].innerHTML);
			$("#nombres").val(fila.cells[1].innerHTML);
			$("#apellidos").val(fila.cells[2].innerHTML);

			if ($.trim(fila.cells[4].innerHTML) == '<span>ACTIVO</span>') {
				$("#estado").prop('selectedIndex', 1);
			} else {
				$("#estado").prop('selectedIndex', 2);
			}
			$('#tipoDoc').val(fila.cells[6].innerHTML).trigger('change.select2');
			$('#tipoPersona').val(fila.cells[7].innerHTML).trigger('change.select2');
			$('#idPais').val(fila.cells[8].innerHTML).trigger('change.select2');
			$('#idPais2').val(fila.cells[9].innerHTML).trigger('change.select2');
			$('#sexo').val(fila.cells[10].innerHTML).trigger('change.select2');
			$('#estadoCivil').val(fila.cells[11].innerHTML).trigger('change.select2');
			$('#correo').val(fila.cells[12].innerHTML);
			$('#telefono').val(fila.cells[13].innerHTML);
			$('#direccion').val(fila.cells[14].innerHTML);
			$('#fechaNacimiento').val(fila.cells[15].innerHTML);
			$(".editable").attr('disabled', false)
			
			$("#documento").focus();
			$('#btnGrabar').attr('disabled', false);
		}
		
		function cancelar() {
			$('#tablaCliente tr').removeClass('highlighted');
			
			$('#btnGrabar').attr('disabled', true);
			$('#btnNuevo').attr('disabled', false); 
			
			$("#formulario").trigger('reset');
			$(".editable").attr("disabled", true);
		}
		
		function nuevo() {
			$('#btnGrabar').attr('disabled', false);
			$('#btnNuevo').attr('disabled', true); 
			
			$("#formulario").trigger('reset');
			$(".editable").attr("disabled", false);
			$("#estado").prop('selectedIndex', 1);
			
			$("#documento").focus();
			
		}
	</script>

</body>

</html>